/* Raleway 400, 500, 600, 700, 800*/
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway/raleway-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/raleway-medium.woff2') format('woff2'),
         url('../fonts/raleway/raleway-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/raleway-semibold.woff2') format('woff2'),
         url('../fonts/raleway/raleway-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway/raleway-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/raleway-extrabold.woff2') format('woff2'),
         url('../fonts/raleway/raleway-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
/* Montserrat 200, 300, 400*/
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-extralight.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-light.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}