@charset "UTF-8";

.form-group-search {
	position: relative;
	margin-left: 28px;
	width: 24px;
}
.input-search {
	position: absolute;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	font-family: $body-font;
	font-size: 16px;
    width: 24px;
    height: 36px;
    top: 8px;
    right: 0;
    bottom: 8px;
    padding: 0 40px 0 15px;
    border: 2px solid transparent;
    border-radius: 18px;
    box-sizing: border-box;
    box-shadow: 0 0 0 transparent;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: width 500ms, opacity 320ms;
    transition: width 500ms, opacity 320ms;


    &:focus {
    	width: 300px;
    	border: 2px solid $pr-color;
    	box-shadow: 0 0 4px #fff;
    	opacity: 1;
    	cursor: text;
    	+ .icon-search {
    		right: 12px;
    		z-index: 1;
    	}
    	+ .icon-search .icon-search-svg {
    		fill: $pr-color;
    	}
    }
}
.icon-search {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 14px;
    right: 0;
	z-index: -1;
    -webkit-transition: right 320ms;
    transition: right 320ms;
}
.icon-search-svg {
	fill: #fff;
	width: 24px;
	height: 24px;
	-webkit-transform: scale(1);
	        transform: scale(1);
	@include animate(all, 320ms);

	&:hover {
		fill: $pr-color;
	    -webkit-transform: scale(1.2);
	            transform: scale(1.2);
	}
}