@charset "UTF-8";
body {
	color: $body-txt-color;
	font-family: $body-font;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: $title-txt-color;
	font-family: $title-font;
	font-weight: 600;
	line-height: 1.2;
}
h2, .h2 {
	font-size: 30px;
}
h3, .h3 {
	font-size: 20px;
	font-weight: 500;
}
p {
	line-height: 24px;
}